@model ValidacionEnFormularios.Models.Cuenta
    <h3>Registro de cuenta nueva</h3>
@using (Html.BeginForm("EjemploValidacion", "Home"))
{
    <table>
        <tr>
            <td>Nombre de usuario: </td>
            <td>@Html.TextBoxFor(modelo => modelo.NombreUsuario)</td>
            <td>@Html.ValidationMessageFor(mod => mod.NombreUsuario)</td>
        </tr>
        <tr>
            <td>Contraseña</td>
            <td>@Html.PasswordFor(x => x.Contraseña)</td>
            <td>@Html.ValidationMessageFor(m => m.Contraseña)</td>
        </tr>
        <tr>
            <td>Nombre completo</td>
            <td>@Html.TextBoxFor(modelo => modelo.NombreCompleto)</td>
            <td>@Html.ValidationMessageFor(mod => mod.NombreCompleto)</td>
        </tr>
        <tr>
            <td>Edad</td>
            <td>@Html.TextBoxFor(modelo => modelo.Edad)</td>
            <td>@Html.ValidationMessageFor(mod => mod.Edad)</td>
        </tr>
        <tr>
            <td>Correo</td>
            <td>@Html.TextBoxFor(modelo => modelo.Email)</td>
            <td>@Html.ValidationMessageFor(mod => mod.Email)</td>
        </tr>
        <tr>
            <td>Sitio web</td>
            <td>@Html.TextBoxFor(modelo => modelo.SitioWeb)</td>
            <td>@Html.ValidationMessageFor(mod => mod.SitioWeb)</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td colspan="2"><input type="submit" value="Registrar" /> </td>
        </tr>
    </table>
}
