<h3>Información de la cuenta</h3>
<table>
    <tr>
        <td>Nombre de usuario: </td>
        <td>@ViewBag.cuenta.NombreUsuario</td>
        
    </tr>
    <tr>
        <td>Contraseña</td>
        <td>@ViewBag.cuenta.Contraseña</td>
       
    </tr>
    <tr>
        <td>Nombre completo</td>
        <td>@ViewBag.cuenta.NombreCompleto</td>
        
    </tr>
    <tr>
        <td>Edad</td>
        <td>@ViewBag.cuenta.Edad</td>
       
    </tr>
    <tr>
        <td>Correo</td>
        <td>@ViewBag.cuenta.Email</td>
  
    </tr>
    <tr>
        <td>Sitio web</td>
        <td>@ViewBag.cuenta.SitioWeb</td>
   
    </tr>
</table>
